.application__wrapper {
  padding: 40px 20px 42px 20px;
  background-color: @bgcolor-grey;
}
.application__title {
  font-family: @opensans;
  font-size: 14px;
  line-height: 18px;
  color: @color-lightred;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
