.description-bottom {
  font-family: @opensans;
  font-size: 14px;
  line-height: 30px;
  color: @color-darkblue;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 48px;
  margin: 0;
}
.description-bottom__text {
  margin: 0;
}
