.download {
  background-color: @bgcolor-download;
  color: @color-white;
  text-align: center;
}
.download__wrapper {
  padding: 0 20px;
}
.download__title {
  font-family: @opensanslight;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  margin: 0;
  padding: 0 30px;
  font-weight: normal;
  display: none;
}
.download__background {
  background-color: @color-darkblue;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  margin-top: -70px;
  padding-top: 98px;
  z-index: 0;
  display: flex;
  @media @retina {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 700px auto;
  }
}
.download__img {
  padding-top: 81px;
  display: block;
}
@media @tablet-widths {
  .download {
    margin: auto;
    width: 620px;
    padding: 0 20px;
    position: relative;
    background: none;
    display: flex;
    flex-direction: row-reverse;
  }
  .download__background {
    margin-top: -110px;
    background: none;
  }
  .download__title {
    display: block;
  }
  .download__wrapper {
    width: 300px;
    padding: 0;
    margin-top: 93px;
    margin-right: -300px;
    z-index: 1;
  }
  .download__img {
    width: 700px;
    height: 545px;
    padding-top: 85px;
    margin-left: -40px;
  }
}
@media @desktop-widths {
  .download {
    width: 940px;
    margin-top: 15px;
    padding: 0 10px 0px 10px;
  }
  .download__title {
    font-size: 50px;
    line-height: 60px;
  }
  .download__background {
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 0;
  }
  .download__img {
    width: 1050px;
    height: 645px;
    padding-top: 83px;
    margin-right: -126px;
  }
}
