.features-item {
  padding-bottom: 16px;
}
.features-item__title {
  font-family: @opensansbold;
  font-size: 18px;
  color: @color-black;
  line-height: 24px;
}
.features-item__text {
  font-family: @opensans;
  font-size: 14px;
  color: @color-darkblue;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 15px;
}
.features-item__img {
  margin: 0 auto;
  margin-bottom: -63px;
  padding-top: 26px;
  z-index: 0;
}
.features-item__img--gray,
.features-item__img--red {
  display: none;
}
@media @tablet-widths {
  .features-item {
    padding-left: 10px;
    text-align: left;
    padding-bottom: 20px;
  }
  .features-item--smile {
    padding-bottom: 0px;
  }
  .features-item__img {
    width: 268px;
    height: auto;
    padding: 0;
    top: -454px;
    left: -309px;
    position: relative;
  }
}
@media @desktop-widths {
  .features-item {
    width: 300px;
    padding-top: 362px;
    padding-left: 0;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    margin-top: -100px;
  }
  .features-item__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    padding: 0 30px;
    padding-top: 56px;
    margin-top: -56px;
    background-color: #f2f2f2;
  }
  .features-item__text {
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
    padding-top: 24px;
    text-align: center;
  }
  .features-item__img {
    width: 292px;
    top: -560px;
    left: 7px;
    margin: 0;
  }
  .features-item__img--gray,
  .features-item__img--red {
    display: block;
  }
}

