.features-item {
  padding-bottom: 16px;
}
.features-item__title {
  font-family: @opensansbold;
  font-size: 18px;
  color: @color-black;
  line-height: 24px;
}
.features-item__text {
  font-family: @opensans;
  font-size: 14px;
  color: @color-darkblue;
  line-height: 24px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 15px;
}
@media @tablet-widths {
  .features-item {
    padding-left: 10px;
    text-align: left;
    padding-bottom: 20px;
  }
}
@media @desktop-widths {
  .features-item {
    width: 300px;
    padding-top: 362px;
    padding-left: 0;
    // background-image: url(../img/iphone-screen-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: 6px 6px;
    margin-top: -100px;
  }
  .features-item--gray {
    background-image: url(../img/iphone-screen-1-desktop@1x.png);
  }
  .features-item--red {
    background-image: url(../img/iphone-screen-2-desktop@1x.png);
  }
  .features-item--smile {
    background-image: url(../img/iphone-screen-3-desktop@1x.png);
  }
  .features-item__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    padding: 0 30px;
    padding-top: 56px;
    margin-top: -56px;
    background-color: #f2f2f2;
  }
  .features-item__text {
    font-size: 18px;
    line-height: 30px;
    padding: 0 30px;
    padding-top: 24px;
    text-align: center;
  }
}
@media (min-width: 977px) and (min-resolution: 144dpi), (min-width: 977px) and (min-resolution: 1.5dppx) {
  .features-item--gray {
    background-image: url(../img/iphone-screen-1-desktop@2x.png);
    background-size: 292px auto;
  }
  .features-item--red {
    background-image: url(../img/iphone-screen-2-desktop@2x.png);
    background-size: 292px auto;
  }
  .features-item--smile {
    background-image: url(../img/iphone-screen-3-desktop@2x.png);
    background-size: 292px auto;
  }
}
