.features-item__title {
  font-family: @opensansbold;
  font-size: 18px;
  color: @color-black;
  line-height: 24px;
}
.features-item__text {
  font-family: @opensans;
  font-size: 14px;
  color: @color-darkblue;
  line-height: 24px;
}