.main-menu {
  display: none;
}
// .page-header__menu--open .main-menu {
//   display: block;
// }
.main-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid @color-black;
}
.main-menu__item {
  background-color: @color-darkblue;
  border-top: 1px solid @color-border-menu;
  border-bottom: 1px solid @color-black;
  text-align: center;
}
.main-menu__link {
  display: inline-block;
  padding: 15px 0;
  font-family: @opensansbold;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-white;
  width: 100%;
}
.main-menu__link:hover {
  color: #d22856;
}
.main-menu__link:active {
  color: rgba(255,255,255,0.3);
}
.main-menu__link--active:active {
  color: #d22856;
}
@media @desktop-widths {
  .main-menu {
    display: flex;
    width: 940px;
    min-height: 110px;
    margin: 0 auto;
    margin-top: -110px;
    align-items: center;
    justify-content: flex-end;
  }
  .main-menu__list {
    width: 620px;
    border: none;
    display: inline-flex;
    justify-content: space-between;
  }
  .main-menu__item {
    background: none;
    border: none;
  }
  .main-menu__link {
    padding: 0;
    position: relative;
    text-transform: none;
    font-family: @opensans;
    line-height: 18px;
  }
  .main-menu__link--active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .main-menu__link--active:hover::after {
    background-color: #d22856;
  }
}
