.map {
  font-size: 0;
  background-image: url(../img/bg-white-triangle.svg), url(../img/map.jpg);
  background-position-y: top, bottom;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 200px;
}
@media @tablet-widths {
  .map {
    min-height: 378px;
  }
}
@media @desktop-widths {
  .map {
    min-height: 498px;
    margin-bottom: 33px;
  }
}
