@media @tablet-widths {
  .page-main-index {
    background-image: url(../img/bg-back-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-position-x: center;
  }
}
@media (min-width: 677px) and (min-resolution: 144dpi),
   (min-width: 677px) and (min-resolution: 1.5dppx) {
  .page-main-index {
    background-image: url(../img/bg-back-tablet@2x.jpg);
    background-size: 1200px auto;
  }
}
@media @desktop-widths {
  .page-main-index {
    background-image: url(../img/bg-back-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-position-y: -110px;
    background-position-x: center;
  }
}
@media (min-width: 977px) and (min-resolution: 144dpi),
   (min-width: 977px) and (min-resolution: 1.5dppx) {
  .page-main-index {
    background-image: url(../img/bg-back-desktop@2x.jpg);
    background-size: 2560px auto;
  }
}
