.photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
@media @tablet-widths {
  .photo {
    width: auto;
  }
}
@media @desktop-widths { 
  .photo {
    width: auto;
  }
  //
  // .photo-item__img--big {
  //   background-image: url("../img/panorama-desktop@1x.jpg")
  // }
}