.popup-success {
  width: 320px;
}
.popup-success__wrapper {
  padding: 43px 20px 34px 20px;
  text-align: center;
}
.popup-success__title {
  font-family: @opensansbold;
  font-size: 18px;
  line-height: 24px;
  color: @color-black;
  text-align: center;
}
.popup-success__text {
  font-family: @opensans;
  font-size: 14px;
  line-height: 24px;
  color: @color-darkblue;
  margin: 0;
}
