.price-table {
  background-color: @color-white;
  border-collapse: collapse;
  margin-left: 20px;
  margin-right: 20px;
}
.price-table__header {
  background-color: @color-darkblue;
}
.price-table__title {
  border: 2px solid @color-table-border;
  border-top: none;
  border-bottom: none;
  min-width: 280px;
}
.price-table__rate {
  font-family: @opensansbold;
  font-size: 18px;
  line-height: 30px;
  color: @color-white;
  text-transform: uppercase;
}
.price-table__cost{
  font-family: @opensanslight;
  font-size: 24px;
  line-height: 30px;
  color: @color-white;
}
.price-table__body {
  font-family: @opensans;
  font-size: 14px;
  line-height: 30px;
  color: @color-darkblue;
}
.price-table__ceil {
  border: 2px solid @color-table-border;
  border-top: none;
}
