.reviews-slide {
  margin: 0;
}
.reviews-slide__author-name {
  font-family: @opensansbold;
  font-size: 18px;
  font-style: normal;
  color: @color-black;
  line-height: 30px;
}
.reviews-slide__text{
  font-family: @opensans;
  font-size: 14px;
  color: @color-darkblue;
  line-height: 30px;
}
