.upload-form {
  border-top: 1px solid @color-light-darkblue;
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 35px;
}
.upload-form__btn {
  padding: 15px 0;
  width: 100%;
  font-family: @opensansbold;
  font-size: 18px;
  line-height: 18px;
  color: @color-light-darkblue;
  border: 3px solid @color-light-darkblue;
  border-radius: 35px;
  margin: 6px 0;
  cursor: pointer;
}
.upload-form__btn--active {
  padding: 15px 0;
  width: 100%;
  font-family: @opensansbold;
  font-size: 18px;
  line-height: 18px;
  color: @color-lightred;
  border: 3px solid @color-lightred;
  border-radius: 35px;
}
